@import "@mdi/font/css/materialdesignicons.css";
@import "./shake.less";

* {
	user-select: none;
}

body {
	margin: 0;
	padding: 0;
}

.Input {
	background: #212121;
	margin: 0;
	padding: 10px 30px;
	border: none;

	color: #d0d0d0;
	font-family: 'Noto Sans CJK KR', sans-serif;
	font-size: .9rem;
	text-align: center;

	outline: none;
	border-radius: 500px;
	transition: all .4s ease;

	&::placeholder {
		color: #808080;
	}

	&:focus {
		background: #d0d0d0;
		color: #202020;
	}
}

.Fade {
	&-enter-active {
		animation: Fade .4s ease;
	}

	&-leave-active {
		animation: Fade .4s ease-in reverse;
	}
}

@keyframes Fade {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
